*{
    box-sizing: border-box;
}

body{
    background-color: #EDECEC;
    margin: 0;
    color: #333333; /*Behaglig lättläst färg*/
}
#wrapper{
    margin: 0 auto; /*Centrering av innehåll*/
    min-height: 97vh;
    
    background-color: #E0E7D7;
    
}
header, footer{
    background-color: #B7C396;
}
header > img {
    width: 100%;
    display: block;
    
}
/*/////////////
    TEXT
/////////////*/
header{
    position: relative;
    
}
h1{
    color: white;
    background-color: #333333;
    opacity: 75%;
    border-radius: 1rem;
    padding: 1rem;
    /*Rubrik ovanpå bilden*/
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
form{
    visibility: visible;/*hidden*/
    background-color: #B7C396;
}